LAP_DATA_ROOT=/path/to/dataset-directory
LAP_TWOROOM_DATA=/path/to/dataset-directory/tworoom.h5
LAP_LEWM_CHECKPOINT=/path/to/lewm_object.ckpt
LAP_STABLEWM_HOME=/path/to/.stable_worldmodel
LAP_RESULTS_DIR=experiments/tworoom/results
GPU=0
