LAP_DATA_ROOT=/path/to/dataset-directory
LAP_TWOROOM_DATA=/path/to/dataset-directory/tworoom.h5
LAP_PUSHT_DATA=/path/to/dataset-directory/pusht_expert_train.h5
LAP_REACHER_DATA=/path/to/dataset-directory/reacher.h5
LAP_LEWM_CHECKPOINT=/path/to/lewm_object.ckpt
LAP_PUSHT_CHECKPOINT=/path/to/pusht/lewm_object.ckpt
LAP_TWOROOM_CHECKPOINT=/path/to/tworoom/lewm_object.ckpt
LAP_STABLEWM_HOME=/path/to/.stable_worldmodel
LAP_RESULTS_DIR=experiments/tworoom/results
GPU=0
PYTHON=python
